{
  "type": "{% if Line %}line{% elif Bar %}bar{% elif Point %}scatter{% elif Box %}boxplot{% else %}bar{% endif %}",
  "data": {
    "labels": {{ labels | tojson }}, 
    "datasets": {{ datasets | tojson }}
  },
  "options": {
    "responsive": true,
    "maintainAspectRatio": false,
    "scales": {
      "y": {
        "beginAtZero": {% if NonZeroScale %}false{% else %}true{% endif %},
        "stacked": {% if Stacked %}true{% else %}false{% endif %},
        "grid": {
          "display": {% if GridLines %}true{% else %}false{% endif %}
        }
      },
      "x": {
        {% if Point %} "type": "category", {% endif %}
        "stacked": {% if Stacked %}true{% else %}false{% endif %},
        "grid": {
          "display": {% if GridLines %}true{% else %}false{% endif %}
        }
      }
    }
  }
}